<div style="display: flex;position: relative;">
  <div class="ls-div">
  </div>

  <div class="ls-div-text">
    <p>Maybe you Wanna Try With "Admin"</p>
  </div>

</div>

<div  style="display: flex;justify-content: center; align-items: center; height: 100vh;">
  <div *ngIf="show == true" class="login-div" style="display: flex;gap:10px ; flex-direction: column;">
    <input type="text" pInputText [(ngModel)]="userName" placeholder="Username" />

    <input type="text" pInputText [(ngModel)]="password" placeholder="Password" />

    <p-button class="bt-lg" label="Login" (onClick)="toggleButton()" ></p-button>

    <a href="">
      <p>Do you need Support?</p>
    </a>
  </div>
  <div *ngIf="userName === 'Admin' && password==='Admin' && show == false "  class="welcome-div">
    <h1>Hello Admin!!</h1>
  </div>
</div>
